<div class="navbar navbar-defaul">
<div>
  <app-image></app-image>
</div>
<div>
  <ul>
    <li>Resultados</li>
    <li>Noticias</li>
    <li>Videos</li>
    <li>Estadísticas</li>
  </ul>
</div>  
</div>

<!-- <nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-ex1-collapse">
      <span class="sr-only">Hola</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#" class="navbar-brand">YUJuUU</a>
  </div>
</nav> -->