<app-nav></app-nav>
<h1>Resultados</h1>
<div class="table-responsive">
  <table class="table" style="text-align: center;">
    <thead class="thead-light">
      <tr>
        <th>jornada anterior</th>
        <th>JORNADA 11</th>
        <th>jornada siguiente</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of matches">
        <!-- primera columna  -->
        <td>
          <span>{{ item.date }}</span>
        </td>

        <!--Columna del medio-->
        <td >
          <table class="table">
            <td style="width: 300px; text-align: right">
              <span>{{ item.local }}</span>
              <img [src]="item.localShield" />
            </td>

            <td style="width: 50px; text-align: center;">
              <span
                class="text-white"
                style="padding-left: 20px; padding-right: 20px; background: black; text-align: center;"
                >{{ item.result }}
              </span>
            </td>
            <td style="width: 300px; text-align: left">
              <img [src]="item.visitorShield" />
              <span>{{ item.visitor }}</span>
            </td>
          </table>
          <!-- <span>{{ item.local }}</span>
          <img [src]="item.localShield" />
          <span
            class="text-white"
            style="padding:   0px  40px 0px 40px; background: black;"
            >{{ item.result }}
          </span>
          <img [src]="item.visitorShield" />
          <span>{{ item.visitor }}</span> -->
        </td>

        <!--Columna derecha-->
        <td>
          <span>{{ item.status }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
