<div class="table-responsive">
  <table class="table-sm table-active" style="text-align: center;">
    <thead>
      <tr>
        <th>Pos.</th>
        <th>Equipos</th>
        <th>Puntos</th>
        <th>J.</th>
        <th>G.</th>
        <th>E.</th>
        <th>P.</th>
        <th>F.</th>
        <th>C.</th>
        <th>Dif.</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of standings; let i = index">
        <td *ngIf="i==0" class="bg-success"><span class="text-white">{{item.pos}}</span></td>
        <td *ngIf="i!=0" class="bg-dark"><span class="text-white">{{item.pos}}</span></td>
        <td style="text-align: left"><img [src]="item.shield"><span>{{item.team}}</span></td>
        <td><span>{{item.points}}</span></td>
        <td><span>{{item.matchPlays}}</span></td>
        <td><span>{{item.wins}}</span></td>
        <td><span>{{item.draws}}</span></td>
        <td><span>{{item.losses}}</span></td>
        <td><span>{{item.gf}}</span></td>
        <td><span>{{item.gc}}</span></td>
        <td><span>{{item.avg}}</span></td>        
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td class="bg-success"></td>
        <td><h5>Copa Libertadores</h5></td>
      </tr>     
    </tbody>
  </table>
</div>

